.detailTrx__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.detailTrx__header button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.detailTrx__qrcode {
    font-size: 40px;
    color: #1A1305;
    border: #1A1305 2px solid;
    border-radius: 5px;
}

.iconNotActive {
    color: #DBDBDB;
}

.detailTrx__icon {
    font-size: 40px;
}

.detailTrx__status{
    max-width: 100%;
    width: 100px;
    text-align: center;
}

.actor-status {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.timeline-title{
    font-size: 24px;
    font-weight: 500px;
    padding: 15px 0;
}
  
.timeline-card {
    max-width: 340px;
    width: 100%;
    justify-items: center;
    box-shadow: rgb(152 152 152 / 20%) 0px 2px 8px 1px;;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-left: 10px;
}
  
.timeline-card__header{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
  
.timeline-card__header b{
    font-size: 16px;
    font-weight: 500;
}  
 
.timestamp{
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    color: #a6a6a6;
    padding-bottom: 5px;
}
  
.timeline-card__body span{
    font-weight: 400;
    font-size: 12px;
    color: #9A9A9A;
}

.timeline-card__bottom a{
    font-size: 14px !important;
    text-decoration: none;
}

.timeline-card__bottom {
    border-top: 1px solid #DBDBDB;
    padding-top: 5px;
    text-align: right;
}

.information {
    border: #DBDBDB 0.5px solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.last-note span {
    font-size: 14px;
}

.last-note p {
    font-size: 16px;
    font-weight: 500;
}

.status{
    padding: 3px 10px;
    max-width: 160px;
    color: white;
    background-color: #1A1305;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 2px;
    align-items: center;
}

.timeline-content {
    align-items: center;
}

.modal-qrcode-space{
    width: 100px;
    height: auto;
    background-color: #9A9A9A;
}

.qrcode-input {
    padding: 10px;
    width: 100%;
    border: #a6a6a6 0.5px solid;
    border-radius: 5px;
    margin-top: 15px;
}

.qrcode-input input{
    border: none;
    width: 95%;
    padding-right: 10px;
}

.detailBtn {
    border: none; 
    background : none;
    cursor: pointer;
}

.btn-download {
    text-decoration: none;
    color: white;
}

.all-set-card {
    display : flex; 
    margin-top : 15px;
}

.dash-style {
    width: 0;
    height: 60px;
    margin-left: 6px;
    border-left: 2px dashed #a6a6a6;
}

.bullet-style {
    width: 15px;
    height: 15px;
    right: -9px;
    background-color: transparent;
    border: 2px solid #FFBF34;
    border-radius: 50%;
}

.img-qr {
    max-width: 100%;
    text-align: center;
}

@media screen and (max-width : 450px) {
    .detailTrx__icon {
        width: 25px;
    }

    .detailTrx__status p {
        font-size: 12px;
    }
}