.trx-type{
    align-items: center;
}

.trx-btn {
    text-decoration: none;
}

.trx-btn:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
}

.trx-btn-info {
    display: flex;
    align-items: center;
    color: #000;
    border-bottom: 1px solid #c3c3c3;
}

.trx-btn-info span {
    margin: 0 0 5px 10px;
    font-size: 16px;
    max-width: 150px;
    text-align: center;
    font-weight: 400;
}

.iconTrx{
    margin: 10px 0;
    width: 25px;
    height: 25px;
    border: silver;
}

select {
    padding: 5px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid silver;
    margin-bottom: 20px;
}

.card-name-and-status {
    margin-left: 15px;
    display : flex;
    justify-content : space-between;
    width: 100%;
}

.card__header {
    padding-bottom: 5px;
    border-bottom: 1px solid #c3c3c3;
}

.detail-btn {
    padding-top: 10px;
    text-align: right;
    font-size: 14px;
}

.detail-btn a {
    text-decoration: none;
}

.detail-btn button:hover {
    cursor: pointer;
}

.btn-konfirmasi {
    padding: 10px 5px 0;
}