input[type=submit]{
  border-radius: 4px;
  font-size: 16px;
  background-color: #1A1305;
  color: #fff;
  border: solid 1px #1A1305;
  margin: 0 0 10px 0 !important;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #fff;
  color: #1A1305;
  border: solid 1px #1A1305;
}

/* @media screen and (max-width: 1000px) {
  .login__section{
    width: 380px;
    min-height: 90vh;
    background-color: white;
    padding: 30px 33px;
  }
} */