.aset__btn-tambahBenih {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aset__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.aset__content{
    margin: 20px 0;
}

.card__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}

.card {
    max-width: 340px;
    width: 100%;
    justify-items: center;
    box-shadow: rgb(152 152 152 / 20%) 0px 2px 8px 1px;;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
}

.card__header{
    display: flex;
    align-items: center;
}

.card__header b{
    font-size: 16px;
    font-weight: 500;
}

.card__icon{    
    display: flex;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    justify-content: flex-start;
}

.card__logo{
    color: #1A1305;
    font-size: 20px;
    width: 40px;
    align-items: center;
}

.card__timestamp{
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    color: #a6a6a6;
}

.quantity-value{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card__body span{
    font-weight: 400;
    font-size: 12px;
    color: #9A9A9A;
}

.quantity-value p{
    font-weight: 400;
    font-size: 16px;
}

.seed-age p, .harvest-age p{
    font-size: 16px !important;
    font-weight: 400;
}

.seed-age, .harvest-age{
    display: flex;
    justify-content: space-between; 
}

.card__bottom {
    border-top: 1px solid #DBDBDB;
    padding-top: 5px;
    text-align: center;
}

.aset-link {
    text-decoration: none;
    font-size: 14px;
}

@media screen and (max-width : 400px) {
    .card__wrapper {
        display: block;
        align-items: center;
    }
    
}