.qrcode__section {
    padding: 50px 0;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.qrcode__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.qrcode__heading {
    color: #1A1305;
}

.qrcode__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.qrcode__container-camera {
    width: 300px;
    height: 250px;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px;
}

.qrcode__input {
    width: 500px;
    height: 32px;
    background-color: transparent;
    border-color: #1A1305;
    border-radius: 4px;
    margin: 10px 0;
    padding: 20px 10px;
}

@media screen and (max-width: 800px) {
    .qrcode__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .qrcode__wrapper {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .qrcode__heading {
        text-align: center;
    }

    .qrcode__container-camera{
        width: 300px;
        height: 300px;
    }

    .qrcode__input{
        width: 300px;
    }
}