:root {
  --primary: #1A1305;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #1A1305;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 14px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 26px;
}

.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #1A1305;
  padding: 14px 20px;
  border: 1px solid #1A1305;
  transition: all 0.3s ease-out;
}

.btn--wide {
  padding: 12px 64px;
  font-size: 14px;
}

.btn--small {
  font-size: 12px;
  background-color: #1A1305;
  color: #fff;
  padding: 6px;
  width: 100%;
}

.btn--large:hover:enabled,
.btn--medium:hover:enabled,
.btn--mobile:hover:enabled {
  transition: all 0.3s ease-out;
  background: #1A1305;
  color: #fff;
}

.btn--wide:hover:enabled {
  color: #fff !important;
  background-color: #FF3474 !important;
  transition: all 0.2s ease-out;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}

.blue {
  background-color: #3474FF;
  color: #fff;
  border: none;
}

.red {
  background-color: #FF3474;
  color: #fff;
  border: none;
}

.primary {
  background-color: #1A1305;
  color: #fff;
  border: none;
}

/* .primary:hover:enabled {
  background-color: #fff;
  color: #1A1305;
  border: 1px solid #1A1305;
} */

.green {
  background: #25ce4a;
  color: #fff;
  border: none;
}

.green:hover {
  background-color: #1A1305;
}

button:disabled {
  background-color: darkgrey;
  color: white;
  border-color: darkgray;
  cursor: default;
}