body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper { 
  justify-content: center; 
  flex-direction: column;
  display: flex; 
  align-items: center; 
  width: 100%;
  background-color: white;
  max-width: 800px;
  margin: auto;
}

.section {
  width: 100%;
  min-height: 90vh;
  padding: 30px 33px;
}

.title{
  display: block;
  /* font-size: 36px; */
  font-weight: 400;
  width: fit-content;
}

.subtitle{
  display: block;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

.content{
  margin: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.err {
  color: red;
  font-size: 12px;
}

.errorMessage {
  color: red;
  font-size: 14px;
}